body {
  background-image: url('images/bg.webp'); 
  background-size: cover;
}

.level_btn{
  width: 20px;
  height: 20px;
  padding: 0px;
  font-size: 1.3pc;
  color: rgb(69, 38, 0);
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.level_btn:hover{
  width: 20px;
  height: 20px;
  padding: 0px;
  background-color: rgb(155, 119, 71);
}

.level_btn:active {
  margin-left: 1px 1px 0;
  box-shadow: -1px -1px 1px #000;
  outline: 1px solid #000000;
  -moz-outline-radius: 7px;
  background-image: linear-gradient(to top, #87580b, #543107);
}

.level_txt{
  padding-top: 1px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.5pc;
  color: rgb(69, 38, 0);
}

a:link{
  padding-top: 1px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1pc;
  color: rgb(69, 38, 0);
}

a:visited{
  padding-top: 1px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1pc;
  color: rgb(69, 38, 0);
}

.center{
  margin: auto;
  display: flex;
  align-items:center;
  justify-content: center;
}

.title{
  padding-top: 10px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2pc;
  color: rgb(100, 71, 36);
}

.board_enclosure {
  width: 33vw;
  border: 5px solid rgb(48, 46, 40);
  border-radius: 5px;
}

.board {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-image: url('images/bg_board.png');
  background-size: contain;
}  

.item {
  max-height: 90%;
  min-height: 90%;
  max-width: 98%;
  background-color: rgba(255,0,0,0);
  border: 1px solid rgba(123,123,123,0);
}