body {
 background-color: bisque;
}

.center{
  margin: auto;
  display: flex;
  align-items:center;
  justify-content: center;
}

.board {
  position: absolute;
  width: 500px;
  height: 500px;
  background-image: url('http://localhost:3002/images/bg_board.png');
  display: flex;
  flex-wrap: wrap;
}

img {
  padding: 5px;
  width: 90px;
  height: 90px;
}