body {
  background-image: url('http://localhost:3002/images/bg.webp'); 
  background-size: cover;
}

.center{
  margin: auto;
  display: flex;
  align-items:center;
  justify-content: center;
}

.board {
  width: 500px;
  height: 500px;
  background-image: url('http://localhost:3002/images/bg_board.png');
  display: flex;
  flex-wrap: wrap;
}

.title{
  align-items:center;
  justify-content: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 60;
  color: blanchedalmond;
}

img {
  padding: 5px;
  width: 90px;
  height: 90px;
}